/** {*/
    /*border: 1px green solid;*/
/*}*/


.mainCreateBurger {
    margin: 10px;
    padding: 0;
    border: 2px blue solid;
    border-radius: 8px;
    height: 150px;
    width: 700px;
    display: flex;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.loadPictureCreateBurger {
    margin: 0;
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;

}

.previewPictureCreateBurger {
    margin: 20px;
    height: 100px;
    width: 100px;
    border: 1px blue dashed;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    display: flex;
    Justify-content: center;
    align-items: center;
    cursor: pointer;
}

.previewPictureCreateBurger:hover   {
    box-shadow: 0 0 10px rgba(0,0,255,1.5);
}

.showCreateBurgerPicture {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}


.descriptionCreateBurger {
    width: 450px;
    margin: 0;
}

.mainFormCreateBurger {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fieldCreateBurger {
    margin: 0 5px;
    display: flex;
    Justify-content: space-between;
}

#nameCreateBurger {
    width: 250px;
}

#priceCreateBurger {
    text-align: right;
    width: 100px;
}

.invalidInput {
    border: 2px solid red;
}

.invalidInput:focus {
    border: 2px solid crimson;
    box-shadow: 0 5px 6px -6px #f40009;
}

h3 {
    text-align: center;
    color: blue;
    margin: 10px 5px;

}

.spanDivCreateBurger {
    display: flex;
    Justify-content: flex-end;

}

span {
    font-size: 75%;
    color: red;
}