.mainIngredient {
    margin: 10px;
    padding: 0;
    border: 1px #000000 solid;
    border-radius: 8px;
    width: 600px;
    height: 85px;
    display: flex;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.pictureShIng {
    align-self: center;
    margin: 15px;
    height: 50px;
    width: 50px;
    border: 1px black solid;
    border-radius: 50%;
    display: flex;
    Justify-content: center;
    align-items: center;
    padding: 0;
}

.ShowPictureIngredient{
    height: 50px;
    width: 50px;
    border-radius: 100px;

}

.descriptionShIng {
    width: 450px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.infoShIng {
    margin: 5px;
    display: flex;
    flex-direction: row;
    Justify-content: space-between;
}

.nameShIng {
    font-size: large;
    font-weight: bold;
}
.priceShIng {
    font-size: large;
}


.barShIng {
    display: flex;
    Justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}
.imageButton  {
    height: 50px;
    width: 50px;
    margin: 3px;
    padding: 5px;
}

.imageButton:hover   {
    border: 2px black solid;
    border-radius: 50%;
    margin: 3px;
    padding: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,1.5);
}